@model IEnumerable<BirKadınBirErkekTasarımMerkezi.Models.Islemler>

@{
    ViewData["Title"] = "ErkeklereOzelSalon";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kisim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucret)
            </td>
           
           
        </tr>
}
    </tbody>
</table>
