@model BirKadınBirErkekTasarımMerkezi.Models.Randevu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iletisimNumaraniz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iletisimNumaraniz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kullaniciID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kullaniciID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Islemler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Islemler.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ustalar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ustalar.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zaman)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Bir Önceki Sayfa</a>
    </form>
</div>
